<%= form_for @collection do |f|%>
  <div class="row">
    <div class="3 columns">
      <%= f.text_field :title, placeholder: 'title' %>
    </div>
    <div class="3 columns"><%= f.text_area :description, placeholder: 'description', rows: '5' %>
    </div>
    <div class = "center-text"><%= f.submit "Add", class: "small button" %>
  </div>
<% end %>
