<% collections.each do |c| %>
  <div class="large-4 small-6 columns">
    <div class = "category-info">
      <%= render partial: 'collections/thumbsize_collection_image', locals: { c: c } %>
      <%= render partial: 'collections/thumbsize_collection_title', locals: { c: c } %>
    </div>
  </div>
<%end%>
