<% if logged_in? %>
  <% collections.each do |c| %>
    <div class="large-4 small-6 columns">
      <% if c.visible_to_user?(current_user) %>
      <div class = "category-info">
        <%= render partial: 'collections/thumbsize_collection_image', locals: { c: c } %>
        <%= render partial: 'collections/thumbsize_collection_title', locals: { c: c } %>
      <%end%>
      </div>
    </div>
  <%end%>
<% else %>
  <% collections.each do |c| %>
    <div class="large-4 small-6 columns">
      <% if c.public? %>
        <div class = "category-info">
          <%= render partial: 'collections/thumbsize_collection_image', locals: { c: c } %>
          <%= render partial: 'collections/thumbsize_collection_title', locals: { c: c } %>
      <%end%>
      </div>
    </div>
  <%end%>
<%end%>
