<h2 class = "center-text">
  <div class = "collection-description">
    <a data-dropdown="drop2" aria-controls="drop2" aria-expanded="false">Profile Stats</a>
      <div id="drop2" data-dropdown-content class="f-dropdown content" aria-hidden="true" tabindex="-1">
        <p><%= @collection.description %></p>
        <p><%= @collection.observations.count %> sightings</p>
        <p>Created at <%= @collection.created_at.strftime("%b %d, %Y")%></p>
      </div>
  </div>
