<% if collection_image?(c) %>
  <div class = "image-thumb"><%= link_to (image_tag collection_thumb_image(c)), collection_path(c) %></div>
<% else %>
  <div class = "image-thumb"><%= link_to (image_tag 'blank.png'), collection_path(c) %></div>
<% end %>
