<div class = "div-header"></div>
<div class ="center-text"><%= will_paginate @collections %></div>
<div class = "div-header"></div>
<%= render partial: 'show_all', locals: { collections: @collections } %>