<%= flash[:errors] %>
<div class="form">
  <% if logged_in? %>
    <h2 class = "center-text">New Collection</h2>
      <%= render partial: 'new_form', locals: { collection: @collection, updating: false } %>
  <% else %>
    <h2><%= link_to 'Log in', login_path %> to create a new collection.</h2>
  <% end %>
</div>
