<script src="https://cdn.auth0.com/js/lock-7.9.min.js"></script>
<script type="text/javascript">

  var lock = new Auth0Lock('6xdGITSV8AesO2w78fLOWkXDAD0h5rRJ', 'trainspotter.auth0.com');
  // var url = (document.location.origin + "/auth/auth0/callback")
  // console.log(url)

  function signin() {
    lock.show({
        callbackURL: 'https://trainspotterapp.herokuapp.com/auth/auth0/callback'
      , responseType: 'code'
      , authParams: {
        scope: 'openid profile'
      }
    });
  }
</script>
<button onclick="window.signin();">Login</button>
