<div id="root" style="width: 280px; margin: 40px auto; padding: 10px; ; border-width: 1px;">
    embeded area
</div>
<script src="https://cdn.auth0.com/js/lock-7.9.min.js"></script>
<script>

  var lock = new Auth0Lock('6xdGITSV8AesO2w78fLOWkXDAD0h5rRJ', 'trainspotter.auth0.com');
  var url = (document.location.origin + "/auth/auth0/callback")

  lock.show({
      container: 'root',
      icon: 'http://www.clipartbest.com/cliparts/xcg/oEK/xcgoEKBei.png'
    , callbackURL: url
    , responseType: 'code'
    , authParams: {
      scope: 'openid profile'
    }
  });
</script>





