<h2 class = "center-text"><%= @curator.public_name %></h2>
  <div class = "stats-text">
    <a data-dropdown="drop2" aria-controls="drop2" aria-expanded="false">Profile Stats</a>
      <div id="drop2" data-dropdown-content class="f-dropdown content" aria-hidden="true" tabindex="-1">
        <p>Has made <%= @curator.collections.count %> collections</p>
        <p>Has made <%= @curator.observations_made.count %> sightings</p>
        <p>Joined on <%= @curator.created_at.strftime("%b %d, %Y")%></p>
      </div>
  </div>
