<%= form_for @curator do |f|%>
  <div class="row">
    <div class="3 columns">
      <%= f.text_field :username, placeholder: 'e.g. SpotterMcGee' %>
    </div>
  </div>
  <div class = "center-text"><%= f.submit "update username", class: "small secondary button" %>
  </div>
<% end %>
