/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
<<<<<<< HEAD
 #= require social-share-button
=======
 *= require foundation_and_overrides

>>>>>>> add foundation gem and change button css
 */

h1,h2,h3,h4,h5,h6{
  font-family: 'Fredoka One', cursive;
}

#welcome-logo {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.visible-img img {
    width:auto;
    margin: auto !important;  /* !important to overwrite negative margin-left and margin-top foundation js gives for images in clearing*/
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

body li {

list-style: none;

}


body li {

list-style: none;

}

.observe-show {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid;
  text-align:center;
}

.observe-show img {
  max-width: 100%;
  max-height: 100%
}

.collection-title {
  font-size: 30px;
}

button.file-upload > input[type='file'] {
    cursor: pointer;
    position: absolute;
    font-size: 0;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    border-radius: 25px;

}

.center-pic {
  text-align: center;
  padding: 5px;
}

.center-pic img{
  border: 2px solid black;
  text-align: center;
}

.center-text{
  text-align: center;
  padding: 5px;
}

span{
    border: 2px solid black;
    padding: 2px;
}

.content{
  padding: 5%;
}

/*.image-thumb img{
  text-align: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  background: url(http://link-to-your/image.jpg) no-repeat;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.thumb-caption {
  text-align: center;
}
*/

.collection-block{
  padding-top: 5px;
  border: solid;
}

.observe-delete{
  padding-top: 10px;
}