/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 #= require social-share-button
 *= require foundation_and_overrides

 */

h1{
  font-family: 'Fredoka One', cursive;
}

h1 a{
  color: black;
}

h2,h3,h4,h5,h6{
  font-family: 'Roboto Mono';
}

#welcome-logo {
  text-align: center;
}

.div-header{
  padding: 5px;
}

.only-text{
  font-family: 'Belgrano', serif;
  text-align: center;
}

.only-text a{
  color:black;
}

.visible-img img {
    width:auto;
    margin: auto !important;  /* !important to overwrite negative margin-left and margin-top foundation js gives for images in clearing*/
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

body li {

list-style: none;

}

body {
  font-family: 'Cutive Mono';
}

.observe-show img {
  text-align:center;
  border: 1px solid;
}

.observe-show{
  text-align: center;
}

.collection-title {
  font-size: 30px;
}

button.file-upload > input[type='file'] {
    cursor: pointer;
    position: absolute;
    font-size: 0;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    border-radius: 25px;

}

.center-pic {
  text-align: center;
  padding: 5px;
}

.center-pic img{
  border: 1px solid black;
  text-align: center;
}

.center-text{
  text-align: center;
  padding: 5px;
}

span{
    padding: 2px;
}

.content{
  padding: 5%;
}

.image-thumb h5{
  text-align: center;
}

.image-thumb img{
 border: 1px solid;
}

.thumb-caption {
  text-align: center;
}


.collection-block img{
  border: solid;
  text-align: center;
}

.observe-delete{
  padding-top: 10px;
}

.secure-text{
  padding-top: 10px;
}

footer{
  padding: 3%;
}

.paginate{
  text-align: center;
}

.collection-description,.stats-text{
  text-align: center;
  font-family: 'Roboto Mono';
  font-size: 15px;
}

.welcome-search {
  text-align: center;
  color: #0000;
}

.category-info{
  text-align: center;
}